<div class="block-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="media media-feature">
          <div class="media-left">
            <a href="{{ "/configuration/" | prepend: site.baseurl }}"><i class="fa fa-4x fa-wrench"></i></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="{{ "/configuration/" | prepend: site.baseurl }}">Configure</a>
            </h4>
            <p>You make it how you love it. Configuration is made simple.
              <a href="{{ "/configuration/" | prepend: site.baseurl }}">Check out configuration guide &raquo;</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media media-feature">
          <div class="media-left">
            <a href="{{ "/extending/" | prepend: site.baseurl }}"><i class="fa fa-4x fa-code"></i></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="{{ "/extending/" | prepend: site.baseurl }}">Component creation</a>
            </h4>
            <p>
              Want to pimp your prompt your way? You may want to check out
              <a href="{{ "/extending/" | prepend: site.baseurl }}">modules guide</a>
              to see how easy is it to implement one!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="media media-feature">
          <div class="media-left">
            <a href="{{ "/theme-builder/" | prepend: site.baseurl }}"><i class="fa fa-4x fa-paint-brush"></i></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="{{ "/theme-builder/" | prepend: site.baseurl }}">Theme creation</a>
            </h4>
            <p>
              Don't like default theme? Give our <a href="{{ "/theme-builder/" | prepend: site.baseurl }}">theme
              builder</a> a spin!!1
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media media-feature">
          <div class="media-left">
            <a href="https://github.com/robik/airshell/issues" target="_blank"><i class="fa fa-4x fa-bug"></i></a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="https://github.com/robik/airshell/issues" target="_blank">Found a bug?</a></h4>
            <p>
              Visit our <a href="https://github.com/robik/airshell/issues" target="_blank">issue tracker thingy</a> and help us
              squash it!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>