<div class="row block-nav-inline">
  <div class="col-md-6">
    <div class="media media-feature">
      <div class="media-left">
        <a href="{{ "/module/core/" | prepend: site.baseurl }}"><i class="fa fa-4x fa-cube"></i></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{{ "/module/core/" | prepend: site.baseurl }}">Module <code>core</code></a>
        </h4>
        <p>Browse <code>core</code> module possible properties and components.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="media media-feature">
      <div class="media-left">
        <a href="{{ "/theme/default/" | prepend: site.baseurl }}"><i class="fa fa-4x fa-paint-brush"></i></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{{ "/theme/default/" | prepend: site.baseurl }}">Theme <code>default</code></a>
        </h4>
        <p>Browse <code>default</code> theme exported styles!</p>
      </div>
    </div>
  </div>
</div>